<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>RFO vs Preselling</h1>
        
        <p>What is the right for you?</p>
        
        <div class="canva-embed" data-height-ratio="2.5" data-design-id="DACya5XX0CE" style="padding:250% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script><a href="https://www.canva.com/design/DACya5XX0CE/view?utm_content=DACya5XX0CE&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">RFOvsPre</a> by <a href="https://www.canva.com/larrysuico2?utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">Larry Suico</a>


  </section>
  


